<div class='row'>
	<div class='col-lg-3'></div>
	<form class='col-md-9'>

		<div class='form-group row'>
			<select class='form-control col-md-3' id='entities'>
				<option selected disabled>Entity</option>
				{{# entities }}
				<option value='{{.}}'>{{.}}</option>
				{{/ entities }}
			</select>
		</div>

		<div class='form-group row'>
			<select class='form-control col-md-3' id='action'>
				<option selected disabled>Action</option>
				{{# actions }}
				<option value='{{.}}'>{{.}}</option>
				{{/ actions }}
			</select>
			<div class='col-md-2 return-value'>
					{{# fields }}
					<select class='form-control return-selector' id='{{entity}}'>
						<option selected disabled>Return</option>
						{{#values}}
						<option value='{{.}}'>{{.}}</option>
						{{/values}}
					</select>
				{{/ fields }}
				{{# fields }}
					<select class='form-control update-selector' id='{{entity}}'>
						<option selected disabled>Update</option>
						{{#values}}
						<option value='{{.}}'>{{.}}</option>
						{{/values}}
					</select>
				{{/ fields }}
			</div>
		</div>

		<div class='form-group row'>
			<a href='javascript:void(0)' class='col-md-2 add-where-clause'>Add Where Clause</a>
		</div>

		<div class='api-call'>
			easy_sql('<span class='entity'></span>', '</span><span class='action'></span>', array(<span class='to-return'></span><span class='to-update'></span><span class='updated'></span><span class='where-clause'></span>));
		</div>

		<div class='row col-md-2 insert-value'>
			{{# insert_values }}
				<div style='width: 300px;' class='insert-section' id='{{entity}}'>
					<table style='width: 300px;'>
							<tr>
							{{#values}}
								<td><input type='text' id='{{.}}' class='form-control insert-input' placeholder='{{.}}'></td>
							{{/values}}
							</tr>
							<tr>
							{{#auto_values}}
								<td>{{.}}</td>
							{{/auto_values}}
							</tr>
					</table>
				</div>
			{{/ insert_values }}
		</div>

		<button class='btn btn-primary test'>Test</button>

	</form>
	<div class='col-md-3'></div>
	<div class='row col-md-5 result'>
	</div>
</div>

	<script>
		$(document).ready(function(e) {
			$('input').attr('autocomplete', 'off');

			$('.insert-section table').each(function() {
			        var $this = $(this);
			        var newrows = [];

			        $this.find("tr").each(function () {
			            var i = 0;
			            $(this).find("td").each(function () {
			                i++;
			                if (newrows[i] === undefined) {
			                    newrows[i] = $("<tr width='150px'></tr>");
			                }
			                newrows[i].append($(this));
			            });
			        });

			        $this.find("tr").remove();
			        $.each(newrows, function(){
			            $this.append(this);
			        });
			    });
		});

	</script>

	<script src="javascript/entity.js"></script>
	<script src="javascript/return.js"></script>
	<script src="javascript/where.js"></script>
	<script src="javascript/conditions.js"></script>
	<script src="javascript/options.js"></script>
	<script src="javascript/operators.js"></script>

	<script>

		$('.add-where-clause').on('click', function(e) {
			
			var entity = $('#entities option:selected').val();
			var count = $('.where-clause-value').length;
			
			if(entity == 'Entity') {
				alert('Please Select an Entity');
				return false;
			}

			if($('#action option:selected').val() == 'Action') {
				alert('Please Select an Action');
				return false;
			}

			if(count == 0) {
				var id = 0;
			} else {
				var id = $('.where-clause-value').last().attr('id');
				id = parseInt(id)+1;
			}

			if($('.where-clause-value').length) {
				empty = $('input.where-clause-value').filter(function() {
					return this.value === "";
				});

				if(empty.length) {
					alert('Please complete all values.');
					return false;
				}
			}

			if(parseInt(count) >= 1) {
				var condition = '<select class=\'conditions\' id=\''+id+'\'>\
									<option value=\'AND\'>AND</option>\
									<option value=\'OR\'>OR</option>\
							</select>';
			} else {
				var condition = '';
			}

			multiple = $('.where-clause span').map(function(index) {
				value = $(this).text().split('=>')[0];
				return $.trim(value.replace(/(\'|,)/g, ''));
			}).get();


			$(this).parent().parent().append('<div class=\'form-group row where\'>'+condition+'\
					{{# fields }}\
						<select class=\'where-selector\' id=\'{{entity}}\'>\
							{{#values}}\
							<option value=\'{{.}}\'>{{.}}</option>\
							{{/values}}\
						</select>\
					{{/ fields }}\
						<select class=\'where-operators\' id=\''+id+'\'>\
							<option value=\'=\'>=</option>\
							{{#operators}}\
							<option value=\'{{.}}\'>{{.}}</option>\
							{{/operators}}\
						</select>\
						<input type=\'text\' class=\'form-control col-md-2 where-clause-value\' id=\''+id+'\' name=\'where-clause-value\'>\
						<button class=\'btn btn-primary btn-sm remove\' id=\'remove-'+id+'\'>x</button>\
					</div>');
			
			$('.where-clause').append('<span id=\'api-'+id+'\'></span>');
			field = $('.where-selector').last().children('option:selected').val();
			if($.inArray(field, multiple) >= 0) {
				$('.where-clause span#api-'+id).html('<span class=\'multiple-'+field+'\' id=\''+$('.multiple-'+field).length+'\'>, array(<span class=\''+field+'-elements\' id=\''+id+'\'>\''+field+'\' => </span>)</span>');
			}	
			
			if($.trim($(".cond-in").html())) {
				var value = $('.where').last().children('.conditions').children('option:selected').val();
				$('.cond-in').append('<span id=\''+id+'\'>, \''+value+'\'</span>');;
			}
			$('.where .where-selector#'+entity).show();
		});

		$('#action').on('change', function(e) {

			var entity = $('#entities option:selected').val();
			var action = $(this).children('option:selected').val();
			$('.add-where-clause').show();

			if($('#entities option:selected').val() == 'Entity') {
				alert('Please select an entity');
				$('#action').val('Action');
				return false;
			}

			$('.insert').each(function(index) {
				$(this).remove();
			});

			$('.api-conds').html('');
			$('.where-clause').empty();
			$('.where').remove();
			$('.return-selector:visible').hide();
			$('.update-selector:visible').hide();
			$('.update-value').remove();
			$('.to-return').html('');
			$('.to-update').html('');
			$('.updated').html('');
			$('.insert-section#'+$('#entities option:selected').val()).hide();
			$('.option-area').remove();

			if(action == 'UPDATE') {
				
				var field = $('select.update-selector#'+entity).children('option:selected').val();
				$('select.update-selector#'+entity).show();
				$('select.update-selector#'+entity).after('<input type=\'text\' class=\'form-control update-value\' id=\''+entity+'\' placeholder=\'Update Value\'>');

				if($('.where-clause').children('span:first-child').text().indexOf(',') < 0)
					$('.where-clause').children('span:first-child').html(', '+$('.where-clause').children('span:first-child').text());		
				$('.to-update').html('\'to_update\' => \''+field+'\'');		

			} else if(action == 'VALUE') {
				
				if($('.option-area').length) {
					var place = $('.option-area').last();
				} else {
					var place = $('.test');
				}
				place.after('<div class=\'form-group row option-area\' id=\''+$('.option-area').length+'\'></div>');
				var count = parseInt($('.option-area').length) - 1;
				$('.option-area#'+count).append('<select class=\'order-selector\'>\
					<option value=\'order\'>ORDER BY</option>\
					</select>');
				place.after('<div class=\'form-group row option-area\' id=\''+$('.option-area').length+'\'></div>');
				var count = parseInt($('.option-area').length) - 1;
				$('.option-area#'+count).append('<select class=\'limit-selector\'>\
					<option value=\'limit\'>LIMIT</option>\
					</select>');


				$('.order-selector').after('{{# fields }}<select class=\'form-control col-md-2 order\' id=\'{{entity}}\' style=\'display: none;\'>\
					<option value=\'order\' selected disabled>Order</option>\
						{{#values}}
							<option value=\'{{.}}\'>{{.}}</option>\
						{{/values}}
					</select>\
					{{/ fields }}\
				<button class=\'btn btn-primary btn-sm remove-order\'>x</button>');
				$('.limit-selector').after('<input type=\'text\' class=\'form-control col-md-2 limit\'>\
					<button class=\'btn btn-primary btn-sm remove-limit\'>x</button>');

				var field = $('select.return-selector#'+entity).children('option:selected').val();
				$('select.return-selector#'+entity).show();
				if($('.where-clause').children('span:first-child').text().indexOf(',') < 0)
					$('.where-clause').children('span:first-child').html(', '+$('.where-clause').children('span:first-child').html());	
				$('.to-return').html('\'return\' => \''+field+'\'');		

			} else if(action == 'GET') {

				if($('.option-area').length) {
					var place = $('.option-area').last();
				} else {
					var place = $('.test');
				}
				place.after('<div class=\'form-group row option-area\' id=\''+$('.option-area').length+'\'></div>');
				var count = parseInt($('.option-area').length) - 1;
				$('.option-area#'+count).append('<select class=\'order-selector\'>\
					<option value=\'order\'>ORDER BY</option>\
					</select>');
				place.after('<div class=\'form-group row option-area\' id=\''+$('.option-area').length+'\'></div>');
				var count = parseInt($('.option-area').length) - 1;
				$('.option-area#'+count).append('<select class=\'limit-selector\'>\
					<option value=\'limit\'>LIMIT</option>\
					</select>');

				$('.order-selector').after('{{# fields }}<select class=\'form-control col-md-2 order\' id=\'{{entity}}\' style=\'display: none;\'>\
					<option value=\'order\' selected disabled>Order</option>\
						{{#values}}
							<option value=\'{{.}}\'>{{.}}</option>\
						{{/values}}
					</select>\
					{{/ fields }}\
				<button class=\'btn btn-primary btn-sm remove-order\'>x</button>');
				$('.limit-selector').after('<input type=\'text\' class=\'form-control col-md-2 limit\'>\
					<button class=\'btn btn-primary btn-sm remove-limit\'>x</button>');


			} else if(action == 'INSERT') {
				var entity = $('#entities option:selected').val();

				$('.insert-section#'+entity).show();
				$('.insert-section#'+entity+' .insert-input').each(function(index){
					$('.where-clause').append('<span class=\'insert\' id=\''+$(this).attr('id')+'\'></span>');
				});

				$('.add-where-clause').hide();
			
			} else {
				if($('.where-clause').children('span:first-child').text().indexOf(',') >= 0) {
					var first_api = $('.where-clause').children('span:first-child').text().replace(',', '');
					$('.where-clause').children('span:first-child').html(first_api);
				}
				$('.add-where-clause').show();
			}
			$('.order#'+entity).show();
			$('.api-call span.action').text(action);
	});

	$('#entities').on('change', function(e) {
		var action = $('#action').children('option:selected').val();
		var entity = $('#entities').children('option:selected').val();
		if(action == 'GET' || action == 'VALUE') {
			$('.order-selector').after('{{# fields }}<select class=\'form-control col-md-2 order\' id=\'{{entity}}\' style=\'display: none;\'>\
				<option value=\'order\' selected disabled>Order</option>\
					{{#values}}
						<option value=\'{{.}}\'>{{.}}</option>\
					{{/values}}
				</select>\
				{{/ fields }}\
			<button class=\'btn btn-primary btn-sm remove-order\'>x</button>');
			$('.limit-selector').after('<input type=\'text\' class=\'form-control col-md-2 limit\'>\
				<button class=\'btn btn-primary btn-sm remove-limit\'>x</button>');
		}
		$('.order#'+entity).show();
	});

	$('form').on('keyup', '.update-value', function(e) {
		var value = $(this).val();

		if(!$.isNumeric(value))
			value = '\''+value+'\'';
		
		$('.api-call span.updated').html(', \'updated\' => '+value);

		if($(this).val().length == 0) {
			$('.api-call span.updated').html('');
		}
	});

	$('.insert-input').on('keyup', function(e) {
		if($(this).attr('id') == $('.where-clause').children('span:not(:empty):first').attr('id') || !$.trim($('.where-clause').text())) {

			$('.where-clause #'+$(this).attr('id')).html('\''+$(this).attr('id')+'\' => \''+$(this).val()+'\'');
			

			if($.trim($('.where-clause #'+$(this).next().attr('id')).html())) {
				$('.where-clause #'+$(this).next().attr('id')).html(', \''+$(this).next().attr('id')+'\' => \''+$(this).next().val()+'\'');
			}

		} else {
			
			$('.where-clause #'+$(this).attr('id')).html(', \''+$(this).attr('id')+'\' => \''+$(this).val()+'\'');

		}

		if($(this).val().length == 0) {
			$('.where-clause span#'+$(this).attr('id')).html('');
		}
	});

	</script>