body {
	background-color: rgb(229, 229, 255);
	margin: 0;
	padding: 0;
}

.where-selector, .return-selector, .update-selector, .insert-value .insert-section {
	display: none;
}

input.update-value {
	display: inline;
}

.result {
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;
	padding: 25px 30px;
	min-height: 300px;
	margin-top: 20px;
	font-size: 14px;
}

.test {
	margin: 20px 0 20px 0;
}